.menuToggle,
.menuToggle a
{
    display:block;
    width:100%;
    height:100%;
    display:flex;
    align-items:center;
    color:black;
}
.menuIcon
{
    display:inline-block;
    margin-right:10px;
    height:20px;
    width:20px;
}

.menuLink
{
    color:black;
    text-decoration:none;
}

.menuItem
{
    font-size:14px;
}

