.card
{
    display:flex;
    flex-direction:column;
    width:100%;
    border:1px solid var(--ion-color-primary);;
    padding:5px;
}

.tags
{
    display:inline;
    margin-left:20px;
}
.image
{
    overflow:hidden;
}
.image img
{
    position:relative;
    margin-top:-13%;
    width:100%;
}

